__pycache__/
*.py[cod]
*.zip
.DS_Store
.vscode/
.idea/
build/
src/assetkit_blender/_assetkit_blender*.so
src/assetkit_blender/_assetkit_blender*.pyd
src/assetkit_blender/libassetkit_*.*
src/assetkit_blender/libassetkit*.dylib
src/assetkit_blender/libassetkit*.so*
src/assetkit_blender/assetkit*.dll
src/assetkit_blender/libds*.dylib
src/assetkit_blender/libds*.so*
src/assetkit_blender/ds*.dll
src/assetkit_blender/libds*.dll
dist/
addon_upload_ready/
build-blender/
build-*/
benchmark-assets/
benchmark-results/
